/* Remove browser default spacing */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

/* Loader */
#loader{

    position: fixed;
    top:0;
    left:0;

    width:100%;
    height:100vh;

    background:#000;

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:9999;

    transition: transform 1.2s ease-in-out;

}

#loader img{
    width: 260px;
    height: auto;
}
.hide-loader{
    transform: translateY(-100%);
}
.navbar{
    padding:15px 24px;
}



.logo{
    display: flex;
    align-items: center;
    gap: 15px;

    position: relative;
    left: -30px;   /* Move left */
}

.logo h2{
    color:white;
    font-size:30px;
    font-weight:600;
}
.logo img{
    width: 130px;
    height: auto;
}
.logo{
    margin-top: -25px;
}
#loader img{
    width: 280px;
    animation: fadeIn 1.5s ease;
}
@keyframes fadeIn{
    from{
        opacity:0;
        transform:scale(0.8);
    }

    to{
        opacity:1;
        transform:scale(1);
    }
}
.hero{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;  
    width: 100%;
    padding-right: 60px;
    padding-top: 30px;
}

.hero-text{
    width:45%;
}

.hero-image{
    transform: translateY(-105px);
}

.hero-image img{
    width:550px;
    max-width:650px;
}
.cat{
    position: absolute;
    top: 123px;
    right: 260px;
    width: 90px;
    z-index: 20;
}

.cat img{
    width: 120px;
}
.hero-text{
    position:absolute;
    left:120px;
    top:280px;
}

.hero-text h1{
    font-size:72px;
    font-weight:700;
    color:#111;
}


.hero-title{
    overflow:hidden;
}

.hero-title .char{
    display:inline-block;
    transform-origin:50% 100%;
}

