<!DOCTYPE html>
<html>
<head>
    <title>SkillForge AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static.css') }}">
</head>

<body> 
<nav class="navbar">

    <div class="logo">
        SkillForge AI
    </div>

    <div class="nav-links">
        <a href="#">Features</a>
        <a href="#">Roadmap</a>
        <a href="#">About</a>
        <a href="#">Login</a>
    </div>

    <button class="nav-btn">
        Start Journey
    </button>

</nav>
<div class="hero">

    <h1>Build Skills.</h1>
    <h1>Build Projects.</h1>
    <h1>Build Your Future.</h1>

    <p>
        Your AI mentor that guides you from your
        first semester to your first software job.
    </p>

    <div class="hero-buttons">

        <button class="primary-btn">
            🚀 Start Your Journey
        </button>

        <button class="secondary-btn">
            ▶ Watch Demo
        </button>

    </div>

</div>


<section class="features">

    <h2>Everything You Need</h2>

    <p class="feature-subtitle">
        Powerful AI tools to help you learn faster,
        build better projects, and become job-ready.
    </p>

    <div class="feature-container">

        <div class="card">

            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="55" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-brain-icon lucide-brain"><path d="M12 18V5"/><path d="M15 13a4.17 4.17 0 0 1-3-4 4.17 4.17 0 0 1-3 4"/><path d="M17.598 6.5A3 3 0 1 0 12 5a3 3 0 1 0-5.598 1.5"/><path d="M17.997 5.125a4 4 0 0 1 2.526 5.77"/><path d="M18 18a4 4 0 0 0 2-7.464"/><path d="M19.967 17.483A4 4 0 1 1 12 18a4 4 0 1 1-7.967-.517"/><path d="M6 18a4 4 0 0 1-2-7.464"/><path d="M6.003 5.125a4 4 0 0 0-2.526 5.77"/></svg></div>

            <h3>AI Roadmaps</h3>

            <p>
                Personalized learning paths designed
                around your career goals.
            </p>

            <a href="#">Learn More →</a>

        </div>

        <div class="card">

            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="55" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-user-icon lucide-file-user"><path d="M6 22a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h8a2.4 2.4 0 0 1 1.704.706l3.588 3.588A2.4 2.4 0 0 1 20 8v12a2 2 0 0 1-2 2z"/><path d="M14 2v5a1 1 0 0 0 1 1h5"/><path d="M16 22a4 4 0 0 0-8 0"/><circle cx="12" cy="15" r="3"/></svg></div>

            <h3>Resume Analyzer</h3>

            <p>
                Upload your resume and receive
                AI-powered feedback instantly.
            </p>

            <a href="#">Learn More →</a>

        </div>

        <div class="card">

            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="55" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-speech-icon lucide-speech"><path d="M8.8 20v-4.1l1.9.2a2.3 2.3 0 0 0 2.164-2.1V8.3A5.37 5.37 0 0 0 2 8.25c0 2.8.656 3.054 1 4.55a5.77 5.77 0 0 1 .029 2.758L2 20"/><path d="M19.8 17.8a7.5 7.5 0 0 0 .003-10.603"/><path d="M17 15a3.5 3.5 0 0 0-.025-4.975"/></svg></div>

            <h3>Mock Interviews</h3>

            <p>
                Practice interviews with AI before
                your real placement interviews.
            </p>

            <a href="#">Learn More →</a>

        </div>

    </div>

</section>
</body>   
</html>



