<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOKSHELF</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static.css') }}">
</head>

<body>
    <header class="navbar">

    <div class="logo">

        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Bookshelf Logo">

        <h2>BOOKSHELF</h2>

    </div>

</header>


    <div id="loader">
    <img src="{{ url_for('static', filename='images/logoblack.png') }}" alt="Bookshelf Logo">
</div>

    <main id="content">

    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>