<!DOCTYPE html>
<html>
<head>
    
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOKSHELF</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static.css') }}">
</head>

<body>
    <header class="navbar">

    <div class="logo">

        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Bookshelf Logo">

        <h2>BOOKSHELF</h2>

    </div>

</header>


    <div id="loader">
    <img src="{{ url_for('static', filename='images/logoblack.png') }}" alt="Bookshelf Logo">
</div>



    <section class="hero">
        <div class="bulb">
    <img src="{{ url_for('static', filename='images/bulb.svg') }}" alt="Bulb">
</div>
<div class="hero-text">
    <h1 class="hero-title">
    DESIGNING<br>
    PERCEPTION
</h1>
</div>
    

        <div class="hero-image">
            <img src="{{ url_for('static', filename='images/bookshelf.png') }}" alt="Bookshelf">
        </div>
        <div class="cat">
    <img src="{{ url_for('static', filename='images/cat.svg') }}" alt="Cat">
</div>


    </section>


   <script src="https://unpkg.com/lenis@1.3.11/dist/lenis.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3/dist/gsap.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    

</body>
</html>
